[Desktop Entry]
Type=Application
Exec=st
TryExec=st
Icon=st
Terminal=false
Categories=System;TerminalEmulator;

Name=St
GenericName=Terminal
Comment=St is a simple terminal implementation for X
StartupWMClass=st-256color
